absl-py==2.3.1
attrs==25.3.0
click==8.1.8
gymnasium==1.1.1
idna==3.10
imageio==2.37.0
matplotlib==3.9.4
mpyq==0.2.5
numpy==2.0.2
pbr==7.0.1
pillow==11.3.0
pluggy==1.6.0
portpicker==1.6.0
probscale==0.2.5
protobuf==6.32.1
py==1.11.0
pygame==2.6.1
pyparsing==3.2.3
pytest==8.4.2
python-dateutil==2.9.0.post0
PyYAML==5.3.1
requests==2.32.5
sacred==0.8.7
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
sk-video==1.1.10
snakeviz==2.2.2
tensorboard-logger==0.1.0
torch==2.8.0
torchvision==0.23.0
tornado==6.5.2
urllib3==2.5.0
websocket-client==1.8.0
whichcraft==0.6.1
wrapt==1.17.3
